nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;

}

p {
    padding: 0;
}

aside {
    width: 15rem;
    margin: 1rem;
    border: 2px solid rgb(79, 79, 156);
    color: #fff;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 10px;
    border-top: darkblue 2px solid;
    text-align: center;
}